
@charset 'utf-8';

@import "foundation";
@import "font-awesome";

//TODO: clean up variables

$text-color: #111;
$title-color: #555;
$link-color: #777;
$link-color-hover: #333;
$h1-color: #333;
$h2-color: #444;

$dark-blue: #003366;

$breakpoints: (
	small:     0px,
	medium:  640px,
	large:  1024px,
);

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-visibility-classes;
@include foundation-float-classes;

@mixin row {
	@include grid-row;
	@include breakpoint(small)  { @include grid-col-size(11); }
	@include breakpoint(medium) { @include grid-col-size(8);  }
	@include breakpoint(large)  { @include grid-col-size(7);  }
	max-width: 960px;
}

@mixin radius($radius) {
	border-radius-topleft:              $radius;
    border-radius-bottomleft:           $radius;
    border-radius-topright:             $radius;
	border-radius-bottomright:          $radius;
	-moz-border-radius-topleft:         $radius;
	-moz-border-radius-bottomleft:      $radius;
    -moz-border-radius-topright:        $radius;
	-moz-border-radius-bottomright:     $radius;
	-webkit-border-top-left-radius:     $radius;
    -webkit-border-bottom-left-radius:  $radius;
    -webkit-border-top-right-radius:    $radius;
    -webkit-border-bottom-right-radius: $radius;
	-khtml-border-top-left-radius:      $radius;
    -khtml-border-bottom-left-radius:   $radius;
	-khtml-border-top-right-radius:     $radius;
    -khtml-border-bottom-right-radius:  $radius;
}

body {
	background: url(../img/alaska.jpg);

	// general formatting

	h1 {
		font-size: 16pt;
		color:     $h1-color;
	}

	h2 {
		color:     $h2-color;

		@include breakpoint(small) { font-size: 12pt; }

		@include breakpoint(medium) { font-size: 13pt; }
	}

	ul {
		list-style-type: square;

		@include breakpoint(small) { margin-bottom: 10px; }

		@include breakpoint(medium) { margin-bottom: 30px; }

		li {

			text-align: justify;

			@include breakpoint(small) {
				line-height:   1.2;
				font-size:     10pt;
				margin-bottom: 5px;
			}

			@include breakpoint(medium) {
				line-height:   1.3;
				font-size:     10.5pt;
				margin-bottom: 10px;
			}

			a {
				color: #003366;

				&::before {
					content: "[";
					color:   #555;
				}

				&::after {
					content: "]";
					color:   #555;
				}
			}
		}
	}

	a {
		color: #003366;

		&:hover {
			color: #003366;
			text-decoration: underline;
		}
	}

	strong {
		font-weight: 500;
	}

	header {

		@include row;

		color:          $title-color;
		letter-spacing: 1px;
		padding:        20px 4px 0px 4px;
		text-transform: uppercase;

		@include breakpoint(small) { font-size: 14pt; }

		@include breakpoint(medium) { font-size: 18pt; }
	}

	nav {

		@include row;

		border-bottom: 2px solid #888;
		padding:       0px 4px 8px 4px;

		a {
			color: #777;

			&:hover, &.active {
				color:           $link-color-hover;
				text-decoration: none;
			}

			@include breakpoint(small) {
				font-size:    11pt;
				margin-right: 2px;
			}

			@include breakpoint(medium) {
				font-size:    13pt;
				margin-right: 6px;
			}
		}
	}

	main {

		@include row;

		padding: 18px 4px;

		p {
			color:       $text-color;
			text-align: justify;

			@include breakpoint(small) {
				font-size:   10pt;
				line-height: 1.3;
			}

			@include breakpoint(medium) {
				font-size:   10.5pt;
				line-height: 1.5;
			}

		}

		figure.highlight pre {
			
			@include breakpoint(small) {
				font-size: 9pt;
				margin:    5px 0px;
				padding:   8px;
			}

			@include breakpoint(medium) {
				font-size: 10pt;
				margin:    8px 0px;
				padding:   10px;
			}

			font-family: Menlo, Monaco, 'Courier New', monospace;
			line-height: normal;

			code {
				background: none;
				border: none;
			}
		}
	}

	footer {

		@include row;

		margin-bottom: 10px;

		.icons {
			text-align: center;

			a {
				color:   $link-color;
				padding: 2px;

				&:hover {
					color: $link-color-hover;
					text-decoration: none;
				}
			}
		}
	}

	// other styles

	.top-stripe {
		position:   absolute;
		top:        0px;
		width:      100%;
		height:     3px;
		background: #003366;
	}

	.degree {
		color:         #444;
		font-size:     10pt;
		margin-bottom: 10px;
	}

	.addr {
		color:         #666;
		font-size:     10pt;
		margin-bottom: 15px;
	}

	.portrait {

		@include show-for(medium);

		float: right;
		background: #f3f3f3;
		border:     1px solid #999;
		margin:     0px 0px 15px 15px;
		padding:    4px;
	}

	article.post {
		
		display: block;
		margin: 10px 0px;

		h1 {
			margin: 0;
		}

		.date {
			@include breakpoint(medium) {
				text-align: left;
			}

			@include breakpoint(large) {
				text-align: right;
			}

			font-size: 11pt;
		}

		.tags {
			@include show-for(medium);

			display: block;
			padding: 6px 0px;

			.tag {
				display:      inline-block;
				padding:      1px 5px;
				background: #666;
				color:      white;
				font-size:    10pt;
			}
		}
	}
}
